<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>Add new container</h1>
	
	<form th:action="@{/add}" method="post" th:object="${container}">
	<label>
		Container source:
		<input type="text" name = "source" th:field="*{source}" />
	</label>
	<strong th:if="${#fields.hasErrors('source')}" th:errors="*{source}"></strong>
	<br>
	
	<label>
		Container destination:
		<input type="text" name = "destination" th:field="*{destination}" />
	</label>
	<strong th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></strong>
	<br>
	
	<label>
		Container company:
		<input type="text" name = "company" th:field="*{company}" />
	</label>
	<strong th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></strong>
	<br>
	
		<input type="submit" />
	</form>
</body>
</html>

















